#!/usr/bin/make -f
# -*- makefile -*-
# Simple debian/rules that uses debhelper.
# Created by Bernd Paysan, in the public domain

DN = $(CURDIR)/debian/fonts-noto-emoji
DT = $(CURDIR)/debian/fonts-twemoji
DO = $(CURDIR)/debian/fonts-emojione

%:
	dh $@ 

#override_dh_auto_test:
override_dh_auto_install:
	rm -rf $(DN) $(DO) $(DT)
	dh_auto_install -- DESTDIR=$(DN)
	mkdir -p $(DO)/usr/share/fonts/truetype/emoji
	mkdir -p $(DT)/usr/share/fonts/truetype/emoji
	mv $(DN)/usr/share/fonts/truetype/emoji/emojione-android.ttf $(DO)/usr/share/fonts/truetype/emoji
	mv $(DN)/usr/share/fonts/truetype/emoji/TwitterColorEmojiv2.ttf $(DT)/usr/share/fonts/truetype/emoji

override_dh_installchangelogs:
	mkdir $(DN)/usr/share/doc/emoji/
	git log | gzip >$(DN)/usr/share/doc/emoji/changelog.gz
	rm -rf $(DT)/usr/share/doc
	rm -rf $(DO)/usr/share/doc
